<!DOCTYPE html>
<html>
<head>
<title>User Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>User Dashboard</h2>

<div align="center">
<a href="/logout"><button>Logout</button></a>
</div>

<form method="POST" enctype="multipart/form-data">
Description:
<textarea name="description" required></textarea>

Upload Image:
<input type="file" name="image" required>

<button type="submit">Submit Complaint</button>
</form>

<br>

<div align="center">
<a href="/view_status">
<button style="font-size:18px;">View Complaint Status</button>
</a>
</div>

</body>
</html>