<!DOCTYPE html>
<html>
<head>
<title>Status</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Your Complaint Status</h1>

<div align="center">
<a href="/logout"><button>Logout</button></a>
</div>

<table border="1">
<tr>
<th>ID</th>
<th>Description</th>
<th>Image</th>
<th>Status</th>
</tr>

{% for row in data %}
<tr align="center">
<td>{{row[0]}}</td>
<td>{{row[2]}}</td>
<td><img src="{{ url_for('static', filename='uploads/' + row[3]) }}" width="120"></td>
<td style="font-size:25px; font-weight:bold;">{{row[4]}}</td>
</tr>
{% endfor %}
</table>

</body>
</html>